
</div>

<footer>
<div id="footer" style="background-color:#FF0000;clear:both;text-align:left;">
	Copyright © EthanMakela.co						Thank You for visiting my website.</div>
</footer>

</body>
</html>
