<!DOCTYPE HTML>
<html>
<head>
    <title>Bowling Tracker</title>
</head>
<body>
<header>
    <h1>Ethan's Project 2</h1>
    <h2><%= locals.settings.subtitle %></h2>
</header>
<div id="content">
